.keyword { color: #0000FF; }
.iostream { color: #800000; }
.namespace { color: #800000; }
.function { color: #000000; }
.comment { color: #808080; }
.assert { color: #008000; }
.number { color: #0000FF; }
.string { color: #FF0000; }